<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 order-3 order-lg-1" data-aos="fade-left" data-aos-delay="100">
        <div class="card" style="">
          <div class="card-body">
            <h5 class="card-title">Python Online Compiler</h5>
            <p class="card-text">Write, Run & Share Python code online using OneCompiler's Python online compiler for free. It's one of the robust, feature-rich online compilers for python language, supporting both the versions which are Python 3 and Python 2.7. Getting started with the OneCompiler's Python editor is easy and fast. The editor shows sample boilerplate code when you choose language as Python or Python2. OneCompiler also has reference programs, where you can look for the sample code and start learning.
            </p>
            <div class="social-links text-center">
              Contact <strong>Sukanta Hui</strong> (+91 7003756860) for any queries
              <a href="https://twitter.com/sukantahui" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/sukantahui" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/sukantahui/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus" target="_blank"><i class="bx bxl-skype"></i></a>
              <a href="https://www.linkedin.com/in/sukanta-hui-56790931/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
            </div>
            <a target="_blank" href="https://onecompiler.com/python" class="">You can use this online installer</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4 order-3 order-lg-1" data-aos="fade-left" data-aos-delay="100">
        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="assets/img/python/python-overview.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Python Installer</h5>
            <h6 class="card-title">Release Date: May 3, 2021</h6>
            <p class="card-text">Python 3.9.5 is the newest major release of the Python programming language, and it contains many new features and optimizations. There's been 111 commits since 3.9.4 which is a similar amount compared to 3.8 at the same stage of the release cycle.</p>
            <a href="https://www.python.org/ftp/python/3.9.5/python-3.9.5-amd64.exe" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-2 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="assets/img/python/vscode.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Python Installer</h5>
            <h6 class="card-title">Release Date: May 3, 2021</h6>
            <p class="card-text">Visual Studio Code is a lightweight but powerful source code editor which runs on your desktop and is available for Windows, macOS and Linux. It comes with built-in support for JavaScript, TypeScript and Node.js and has a rich ecosystem of extensions for other languages (such as C++, C#, Java, Python, PHP, Go) and runtimes (such as .NET and Unity). Begin your journey with VS Code with these <a target="_blank" href="https://code.visualstudio.com/docs/getstarted/introvideos" >introductory videos</a>.</p>
            <a href="https://code.visualstudio.com/sha/download?build=stable&os=win32-x64-user" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-1 order-lg-3" data-aos="fade-left" data-aos-delay="100">
        <div class="card" style="width: 22rem;">
          <img class="card-img-top" src="assets/img/python/PyCharm_IDE.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">PyCharm Edu is free & open source.</h5>
            <h6 class="card-title">Release Date: May 3, 2021</h6>
            <p class="card-text">    Version: 2021.1
              Build: 211.7142.37
              29 April 2021, This installation guide describes everything you need to know to install the EduTools plugin in PyCharm . If you are using a different supported IDE, switch to it by using the Section drop-down menu at the top of the page: </p>
            <a href="https://download.jetbrains.com/python/pycharm-edu-2021.1.exe" class="btn btn-primary">Download</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
