
<section>
  <div class="card">
    <div class="card-body">
      <h2>What is Java</h2>

      <p>Java is a programming language and a platform. Java is a high level, robust, object-oriented and secure programming language.

      Java was developed by Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995. James Gosling is known as the father of Java. Before Java, its name was Oak. Since Oak was already a registered company, so James Gosling and his team changed the Oak name to Java.
      </p>

    </div>
  </div>
</section>

<section>
  <div class="card">
    <div class="card-body">
      <h2>Application</h2>
      <h5>3 billion devices run Java. There are many devices where Java is currently used. Some of them are as follows:</h5>
      <ol>
        <li>Desktop Applications such as acrobat reader, media player, antivirus, etc.</li>
        <li>Web Applications such as irctc.co.in, javatpoint.com, etc.</li>
        <li>Enterprise Applications such as banking applications.</li>
        <li>Mobile</li>
        <li>Embedded System</li>
        <li>Smart Card</li>
        <li>Robotics</li>
        <li>Games, etc.</li>
      </ol>

    </div>
  </div>
</section>
