<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-left" data-aos-delay="100">
        <div class="card text-center" style="width: 40rem">
          <img class="card-img-top" src="assets/img/python/hawkings.jpg" alt="Card image cap">
          <div class="card-header">
            Python Software Foundation
          </div>
          <div class="card-body">
            <h5 class="card-title">Mission Statement page</h5>
            <p class="card-text">
              The Python Software Foundation (PSF) is a 501(c)(3) non-profit corporation that holds the intellectual property rights behind the Python programming language. We manage the open source licensing for Python version 2.1 and later and own and protect the trademarks associated with Python. We also run the North American PyCon conference annually, support other Python conferences around the world, and fund Python related development with our grants program and by funding special projects.
            </p>
            <a href="https://www.python.org/psf/mission/" class="">Mission Statement Page</a>
          </div>
          <div class="card-footer text-muted">
            For questions about Python, please write to help@python.org.
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <div class="card text-center" style="width: 40rem">
          <img class="card-img-top" src="assets/img/python/python-quote.jpg" alt="Card image cap">
          <div class="card-header">
            Python Software Foundation
          </div>
          <div class="card-body">
            <h5 class="card-title">Mission Statement page</h5>
            <p class="card-text">
              The Python Software Foundation (PSF) is a 501(c)(3) non-profit corporation that holds the intellectual property rights behind the Python programming language. We manage the open source licensing for Python version 2.1 and later and own and protect the trademarks associated with Python. We also run the North American PyCon conference annually, support other Python conferences around the world, and fund Python related development with our grants program and by funding special projects.
            </p>
            <a href="https://www.python.org/psf/mission/" class="">Mission Statement Page</a>
          </div>
          <div class="card-footer text-muted">
            For questions about Python, please write to help@python.org.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



