<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <section >
      <div class="row">
        <div class="col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/python/python-overview.jpg" class="img-fluid rounded-border" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Prepositional Logic – Definition</h3>
          <p class="fst-italic">
            A proposition is a collection of declarative statements that has either a truth value "true” or a truth value "false". A propositional consists of propositional variables and connectives. We denote the propositional variables by capital letters (A, B, etc). The connectives connect the propositional variables.
          </p>
          <ul>
            <h4>Some examples of Propositions are given below −</h4>
            <li><i class="bi bi-check-square"></i>"Man is Mortal", it returns truth value “TRUE”</li>
            <li><i class="bi bi-check-square"></i>12 + 9 = 3 – 2", it returns truth value “FALSE”</li>
          </ul>
          <ul>
            <h4>The following is not a Proposition −</h4>
            <li><i class="bi bi-x-square-fill"></i>"A is less than 2". It is because unless we give a specific value of A, we cannot say whether the statement is true or false.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</section>
<!-- End About Section -->
