<div>

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/cipudi.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Python@CODER</h3>
          <p class="fst-italic">
            Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i>Learned from Basic</li>
            <li><i class="bi bi-check-circle"></i>Types of courses offered at CODER</li>
            <li><i class="bi bi-check-circle"></i>Any syllabus of every board like  WBSEB, CBSE, ICSE has been learned at CODER  </li>
            <li><i class="bi bi-check-circle"></i>Coding,web designing,software development,Programming language,Photo editing</li>
          </ul>
          <p align-center>
            THE More YOU<br>
            read<br>
            THE More THINGS YOU WILL<br>
            know<br>
            THE MORE YOU <br>
            learn<br>
            OH THE PLACE YOU WILL<br>
            go!

          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

</div>
