<div>

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <a name="anchor1"></a>
      <div id="anchor1">They're trying to anchor to me!</div>
      <section >
        <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/python/python-overview.jpg" class="img-fluid rounded-border" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Python@CODER</h3>
          <p class="fst-italic">
            Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i><strong>Python is Interpreted</strong> − Python is processed at runtime by the interpreter. You do not need to compile your program before executing it.</li>
            <li><i class="bi bi-check-circle"></i><strong>TPython is Interactive</strong> − You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.</li>
            <li><i class="bi bi-check-circle"></i><strong>Python is Object-Oriented</strong> − Python supports Object-Oriented style or technique of programming that encapsulates code within objects.  </li>
            <li><i class="bi bi-check-circle"></i><strong>Python is a Beginner's Language</strong> − Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.</li>
          </ul>
        </div>
      </div>
      </section>
      <div class="row">
        <div class="col-lg-1 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
<!--          <img src="assets/img/python/python-overview.jpg" class="img-fluid rounded-border" alt="">-->
        </div>
        <div class="col-lg-11 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>History of Python</h3>
          <div class="fst-italic">
            <p>Python was developed by <a href="https://en.wikipedia.org/wiki/Guido_van_Rossum" target="_blank">Guido van Rossum</a> in the late eighties and early nineties at the National Research Institute for Mathematics and Computer Science in the Netherlands.</p>

            <p>Python is derived from many other languages, including ABC, Modula-3, C, C++, Algol-68, SmallTalk, and Unix shell and other scripting languages.</p>

            <p>Python is copyrighted. Like Perl, Python source code is now available under the GNU General Public License (GPL).</p>

            <p>Python is now maintained by a core development team at the institute, although Guido van Rossum still holds a vital role in directing its progress.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-1 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <!--          <img src="assets/img/python/python-overview.jpg" class="img-fluid rounded-border" alt="">-->
        </div>
        <div class="col-lg-11 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Python Features</h3>
          <div class="fst-italic">
            <ul>
              <li><strong>Easy-to-learn</strong> − Python has few keywords, simple structure, and a clearly defined syntax. This allows the student to pick up the language quickly.</li>
              <li><strong>Easy-to-read</strong> − Python code is more clearly defined and visible to the eyes.</li>
              <li><strong>Easy-to-maintain</strong> − Python's source code is fairly easy-to-maintain.</li>
              <li><strong>A broad standard library</strong> − Python's bulk of the library is very portable and cross-platform compatible on UNIX, Windows, and Macintosh.</li>
              <li><strong>Interactive Mode</strong> − Python has support for an interactive mode which allows interactive testing and debugging of snippets of code.</li>
              <li><strong>Portable</strong> − Python can run on a wide variety of hardware platforms and has the same interface on all platforms.</li>
              <li><strong>Extendable</strong> − You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.</li>
              <li><strong>Databases</strong> − Python provides interfaces to all major commercial databases.</li>
              <li><strong>GUI Programming</strong> − Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh, and the X Window system of Unix.</li>
              <li><strong>Scalable</strong> − Python provides a better structure and support for large programs than shell scripting.</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <a (click)="jumpToId('anchor1')">Go To Anchor 1</a>
  </section><!-- End About Section -->

</div>
